@use "./module";


.qa {
  padding-top: 60px;
  padding-bottom: 60px;

  @include module.mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__inner {
    max-width: calc(800px + 30px * 2);
    padding-right: 30px;
    padding-left: 30px;
  }

  &__title {
    margin-bottom: 52px;

    @include module.mq(pc) {
      margin-bottom: 74px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 42px;
  }

  &__item {
    border-radius: 10px;
    border: 3px solid #111;
    background: #FFF;

    &.is-open {
      .qa__question {
        &::after {
          transform: rotate(0deg);
        }
      }
    }
  }

  &__question,
  &__answer {
    font-weight: 700;
    text-align: left;

    &-icon {
      display: grid;
      place-items: center;
      // 上の2行で上下中央真ん中寄せになる
      width: 44px;
      height: 44px;
      font-weight: inherit;
      font-family: module.$font-en;
      font-size: 22px;
      line-height: 1;
      // letter-spacing: 2.2px;
      border-radius: 22px;
      border: 3px solid #111;

    }

    &-text {
      display: block;
      font-size: 14px;
      font-weight: inherit;
      line-height: 1.7;
      letter-spacing: 1.12px;

      @include module.mq(pc) {
        font-size: 16px;
        line-height: 2.7;
        letter-spacing: 1.28px;
      }
    }
  }


  &__question {
    padding: 32px 40px 20px 15px;
    position: relative;
    display: block;
    width: 100%;

    @include module.mq(pc) {
      padding: 32px 80px 20px 20px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 16px;
      width: 9.26px;
      height: 6.834px;
      background: url(../../img/Q&A-arrow.png) no-repeat center center / contain;
      transform: rotate(180deg);
    }

    &-icon {
      background: #F5810E;
      position: absolute;
      top: -22px;
      left: 15px;

      @include module.mq(pc) {
        left: 20px;
      }
    }

    &-text {}
  }

  &__body {
    padding: 10px 15px 20px;
    display: none;

    @include module.mq(pc) {
      padding: 0px 36px 20px 20px;
    }
  }

  &__answer {
    display: flex;
    gap: 8px;

    @include module.mq(pc) {
      gap: 10px;

    }

    &-icon {
      background: #FABE00;
      flex-shrink: 0;
    }

    &-text {
      flex-grow: 1;
      padding-top: 9px;

      @include module.mq(pc) {
        padding-top: 0px;
      }
    }
  }

}
